@page "/experience"

<PageTitle>Experience</PageTitle>

<div class="d-flex justify-content-center align-items-center vh-100 text-center">
    <div class="content-box">
        <h2 class="text-primary mb-4">Experience</h2>

        <div class="experience-item">
            <h3>Senior Web Developer</h3>
            <h4 class="text-muted">Intelitec Solutions</h4>
            <span class="text-primary">March 2013 - Present</span>
            <p>Developing innovative solutions and streamlining cloud-based strategies to enhance user experience and
                maximize efficiency.</p>
        </div>

        <div class="experience-item">
            <h3>Web Developer</h3>
            <h4 class="text-muted">Intelitec Solutions</h4>
            <span class="text-primary">December 2011 - March 2013</span>
            <p>Optimized web applications by leveraging DevOps and digital strategies to bridge technology gaps.</p>
        </div>

        <div class="experience-item">
            <h3>Junior Web Designer</h3>
            <h4 class="text-muted">Shout! Media Productions</h4>
            <span class="text-primary">July 2010 - December 2011</span>
            <p>Designed user-friendly interfaces and enhanced digital branding through strategic UX/UI improvements.</p>
        </div>

        <div class="experience-item">
            <h3>Web Design Intern</h3>
            <h4 class="text-muted">Shout! Media Productions</h4>
            <span class="text-primary">September 2008 - June 2010</span>
            <p>Assisted in web design projects, implementing responsive layouts and improving site functionality.</p>
        </div>
    </div>
</div>
