@page "/interests"

<PageTitle>Interests</PageTitle>

<div class="d-flex justify-content-center align-items-center vh-100 text-center">
    <div class="content-box">
        <h2 class="text-primary mb-4">Interests</h2>

        <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier
            and novice ice climber.</p>

        <p>During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>

        <p class="mb-0">When indoors, I follow sci-fi and fantasy genre movies and TV shows, experiment with cooking,
            and stay updated with the latest front-end web development advancements.</p>
    </div>
</div>
