@page "/portfolio"
<!-- Navigation-->
<NavMenu />
<!-- Page Content-->
<div class="container-fluid p-0">

    <!-- About-->
    <section class="resume-section" id="about">
        <About />
    </section>
    <hr class="m-0">
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <Experiences />
    </section>
    <hr class="m-0">
    <!-- Education-->
    <section class="resume-section" id="education">
        <Education />
    </section>
    <hr class="m-0">
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <Skills />
    </section>
    <hr class="m-0">
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <Interests />
    </section>
    <hr class="m-0">
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <Award />
    </section>
</div>