@page "/welcome"

<PageTitle>Welcome </PageTitle>

<h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At aut rerum excepturi pariatur quod perspiciatis nobis, amet, animi ut repudiandae facere consequuntur odio ipsum magni accusamus dignissimos explicabo quis. Animi.</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt voluptas enim voluptatem ea, dolore provident, commodi laboriosam corrupti, asperiores voluptatibus recusandae quod molestias veritatis fugit sequi tempore veniam. Est, blanditiis.</p>




